@model SklepSportowy.Models.SprzetSportowy

<h1>Dodawanie</h1> <!-- Zmienić -->

<form asp-controller="SprzetSportowy" asp-action="Add" method="post">


    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>



    <label asp-for="NazwaSprzetu">Nazwa Sprzętu: </label> <!-- label - tworzenie formularza  -->
        <div>
        <span asp-validation-for="NazwaSprzetu" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="NazwaSprzetu" type="text" class="form-control" />  <!-- input - wpisywanie w formularz  -->



    <label asp-for="ModelSprzetu">Model: </label>
        <div>
        <span asp-validation-for="ModelSprzetu" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="ModelSprzetu" type="text" class="form-control" />




    <label asp-for="Cena">Cena: </label>
        <div>
        <span asp-validation-for="Cena" style="font-size:16px; font-family:'Times New Roman" class="text-danger"></span>
        </div>
    <input asp-for="Cena" type="number" class="form-control" />



    <button type="submit" class="btn btn-success"> Dodaj </button>
</form>