@model List<SklepSportowy.Models.SprzetSportowy>





<p class="text-center">
    <a asp-controller="SprzetSportowy" asp-action="Add" class="btn btn-primary btn-lg">Dodaj</a>
</p>
<table class="table">

    
    @foreach (var eS in Model)
    {
        <tr>
            
            <td>@eS.NazwaSprzętu</td>
            <td>@eS.ModelSprzętu</td>
            <td>@eS.Cena</td>
        </tr>
    }
</table>